<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../.././css/caredit.css"> 
    <title>Nuevo producto</title>
    <%- include('../parciales/head2products') %>
</head>

  <body>
    <%- include('../parciales/header2products') %>
    <main>
    <div class="container-main">
      <div class="container-imgs">
          <div class="container-principal">
              <img src="/images/productos/<%= miProducto.avatar%>" alt="404">
          </div>
<!--
          <div class="container-secondary">
              <img src="img/gorramorada.jpg" alt="404">
              <img src="img/gorramorada.jpg" alt="404">
              <img src="img/gorramorada.jpg" alt="404">
          </div>
        -->
      </div>

      <div class="container-info">
          <h2><%= miProducto.nombreproducto %> - <%= miProducto.marca %></h2>
          <h4>$ <%= miProducto.precio %></h4>

          <h3><%= miProducto.descripcion %></h3>

          <div class="selector-color">
              <h3>Color: </h3>
              <input type="radio" id="color-azul" name="color" value="azul" placeholder="">

              <input type="radio" id="color-rojo" name="color" value="rojo" placeholder="">

              <input type="radio" id="color-violeta" name="color" value="violeta" placeholder="">
          </div>

          <div class="buttons-zone">
              <div class="counter-quantity">
                  <button type="button"> - </button>
                  <input type="text" disabled placeholder="0">
                  <button type="button"> + </button>
              </div>

              <div class="button-add-cart">
                  <button> Añadir al carrito</button>
              </div>
          </div>

          <div class="favorite-zone">
              <input type="checkbox" id="add-favorite">
              <label for="add-favorite"><span>&#9829</span> Agregar a la lista de deseos</label>
          </div>
          <br>
                        <a href="/product" class="btn btn-danger">Volver</a>
      </div>
  </div>
<!--
  <div class="carousel-container">
      <h2>Productos Relacionados</h2>
      <div class="carousel-slider">
          <div class="carousel">
              <img src="img/gorramorada.jpg" alt="404">
              <img src="img/gorramorada.jpg" alt="404">
              <img src="img/gorramorada.jpg" alt="404">
              <img src="img/gorramorada.jpg" alt="404">
              <img src="img/gorramorada.jpg" alt="404">
              <img src="img/gorramorada.jpg" alt="404">
              <img src="img/gorramorada.jpg" alt="404">
              <img src="img/gorramorada.jpg" alt="404">
          </div>
      </div>
  </div>
--> 
    </main>

  <%- include('../parciales/footer') %>  
  </body>
</html>