<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../.././css/caredit.css">
    <title>Editar producto</title>
    <%- include('../parciales/head2products') %>
</head>

<body>
    <%- include('../parciales/header2products') %>
        <main class="container-fluid">
            <div class="caredit-form">
                <div class="formingreso">
                    <form action="/products/prodEdit/<%= productoEditar.id%>?_method=PUT
                        " method="POST" enctype="multipart/form-data">
                        <div class="form-container">

                            <input type="hidden" name="id" value="<%= productoEditar.id %>">

                            <label for="nombre" class="formu">Nombre del producto</label>
                            <input type="text" name="nombre" id="nombre" class="texto" required="required"
                                placeholder="Ingrese el nombre del producto" value="<%= productoEditar.nombre%>">

                            <label for="precio" class="formu">Precio</label>
                            <input type="number" name="precio" id="precio" class="texto" required="required"
                                placeholder="Ingrese el precio del producto" value="<%= productoEditar.precio%>">

                            <label for="detalle" class="formu">Descripción</label>
                            <input type="text" name="detalle" id="detalle" class="texto" required="required"
                                placeholder="Ingrese la descripción del producto" value="<%= productoEditar.detalle%>">

                            <label for="precioCompra" class="formu"> Precio Compra </label>
                            <input type="number" name="precioCompra" id="precioCompra" class="texto" required="required"
                                placeholder="Ingrese el precio de compra del producto"
                                value="<%= productoEditar.precioCompra%>">

                            <label for="stock" class="formu"> Stock </label>
                            <input type="number" name="stock" id="stock" class="texto" required="required"
                                placeholder="Ingrese el stock del producto" value="<%= productoEditar.stock%>">

                            <label class="formu">Imagen del producto actual</label>
                            <div class="current-image">
                                <img src="../../../images/productos/<%= productoEditar.urlImagen%>"
                                    alt="Imagen actual del producto">
                            </div>

                            <label class="formu">¿Cargar nueva imagen?</label>
                            <input type="file" name="urlImagen" id="urlImagen" accept="image/*">

                            <br>

                            <label for="estado" class="formu"> Estado </label>
                            <div class="estado-inputs">
                                <input type="radio" name="estado" id="estado_true" value="1" class="texto"
                                    required="required" <% if (productoEditar.estado===1) { %> checked <% } %>>
                                    <label for="estado_true"> Activo </label>

                                <input type="radio" name="estado" id="estado_false" value="0" class="texto"
                                    required="required" <% if (productoEditar.estado===0) { %> checked <% } %>>
                                    <label for="estado_false"> Inactivo </label>
                            </div>

                            <label for="precioMay" class="formu"> Precio Mayorista </label>
                            <input type="number" name="precioMay" id="precioMay" class="texto" required="required"
                                placeholder="Ingrese el precio mayorista del producto" value="<%= productoEditar.precioMay%>">

                            <br>

                            <label class="formu">Tipo de producto: </label>
                            <label class="categorias"> Categorias </label>
                            <p>
                                <select name="categoriaId" id="categoriaId">
                                    <% categoriaL.forEach(categoria=> { %>
                                        <% if (productoEditar && productoEditar.categoriaId===categoria.id) { %>
                                            <option value="<%= categoria.id %>" selected>
                                                <%= categoria.nombre %>
                                            </option>
                                            <% } else { %>
                                                <option value="<%= categoria.id %>">
                                                    <%= categoria.nombre %>
                                                </option>
                                                <% } %>
                                                    <% }); %>
                                </select>
                            </p>
                            <br>


                            <div class="botonespie">
                                <div class="form-group">
                                    <p>
                                        <button type="submit" class="btn btn btn-info">Actualizar</button>
                                    </p>
                                </div>

                                <p>
                                    <button class="btn btn-info" type="reset">Reiniciar</button>
                                </p>
                            </div>
                            <br>
                            <a href="/product" class="btn btn-danger">Volver</a>

                        </div>
                    </form>
                </div>
            </div>
        </main>

        <%- include('../parciales/footer') %>
</body>

</html>